*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
}
.cell {
  width: 75px;
  height: 75px;
  border: 2px solid black;
  box-shadow: 0 0 0 2px;
  font-size: 50px;
  cursor: pointer;
  
}
h1{
    text-align: center;
}
.gameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    flex-direction: column;
    font-family:  "Permanent Marker",cursive;
    text-align: center;

}
.cellContainer {
  display: grid;
  /* grid-template-rows:auto auto auto; */
  grid-template-columns: auto auto auto;
  justify-content: center;
  margin:20px;
}
